html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*css reset above */

body {
  font-family: "Barlow", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  height: 5vh;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: black;
}

.left-nav-section,
.right-nav-section {
  display: flex;
  width: 20%;
  border: 1px solid grey;
}

.left-nav-section {
  display: flex;
}

.left-nav-section > span {
  flex-grow: 2;
  justify-content: flex-start;
  padding-left: 25px;
}

.left-nav-section > img {
  flex-grow: 1;
  object-fit: fill;
  padding: 10px 30px 10px 10px;
  border: 1px solid grey;
}

.left-nav-section a,
.middle-nav-section > ul li a {
  text-decoration: none;
  color: white;
}

.fa-circle-user {
  font-size: 25px;
  padding-right: 10px;
}

.left-nav-section > span,
.middle-nav-section > ul li {
  border: 1px solid grey;
  font-weight: bold;
  font-size: 0.9em;
  display: flex;
  align-items: center;
}

.middle-nav-section {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.middle-nav-section > ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.middle-nav-section > ul li {
  flex-grow: 1;
  justify-content: center;
}

.middle-nav-section > ul li:last-child {
  flex-grow: 2;
  justify-content: space-around;
}

.right-nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
}

.right-nav-section > .input-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container input {
  width: 60%;
}

.input-container .fa-magnifying-glass {
  position: absolute;
  top: 50%;
  left: 270px;
  transform: translateY(-50%);
}

/* navbar styling ends here*/

.top-main-section {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.top-main-section > h1 {
  font-size: 1.6em;
  color: rgb(49, 41, 38);
}

.top-main-section > span {
  color: rgba(134, 133, 133, 0.774);
  font-size: 1.5em;
}
